root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 100
indent_style = space
end_of_line = lf
indent_size = 4
charset = utf-8

[*.{rbxlx,rbxmx,yaml,yml,md}]
max_line_length = 80

[*.{rbxlx,rbxmx,yaml,yml}]
indent_size = 2

[*.{luau,lua}]
indent_style = tab