# pesde
/roblox_packages/
/lune_packages/
/.pesde/

# Wally
/ServerPackages/
/DevPackages/
/Packages/

# Rojo
sourcemap.json
/*.rbxlx
/*.rbxmx
/*.rbxl
/*.rbxm

# Miscellaneous
roblox.yml
.DS_Store
*.lock
